.bckg1{
    -fx-background-color: #0F2D40;
}
.bckg2{
    -fx-background-color: #194759;
}
.bckg3{
    -fx-background-color: #296B73;
}
.bckg4{
    -fx-background-color: #3E8C84;
}
.bckg5{
    -fx-background-color: #D8F2F0;
}
.bckgWhite{
    -fx-background-color: #FFFFFF;
}
.borderBlack{
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.whiteText{
    -fx-text-fill: WHITE;
}